@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin: 25px 150px;
    padding: 20px 40px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin: 25px 150px;
    padding: 0px 40px;
    
}

.topic {
    background: lightgray;
    /*add CSS here*/
    margin: 15px;
    padding: 4px;
    display: inline-block;
    
}

